@import url(https://rsms.me/inter/inter.css);
body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
.container{
    margin: 0;
    padding: 0;
    height: auto;
    margin: auto;
}

.header{
    background: #a1c1e1;
    text-align: center;
    width: 100%;
    padding: 20px 0;
    color: #000;
   
}

.main{
    padding: 5% !important;
    max-width: 480px;
    margin: auto;
}

.title{
    padding: 20px;
    padding-bottom: 0;
    margin: 0;
}
.subtitle{
    padding: 20px;
    padding-top: 0;
    margin-top: 5px;
    font-size: 14px;
}

.main{
    padding: 10px;
}
.menu{
    display: flex;
    justify-content: space-between;
}
.menu-btn{
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 32%;
    box-sizing: border-box;
    color: #000;
    background: #eee;
}


.left{
    text-align: left;
}

.right  {
    text-align: right;
}

table   {
width: 100%;
margin-top: 20px;
}

.remove{
    font-weight: 400;
    background-color: #000;
    color: white;
    padding: 1%;
    font-size: 12px;
    border-radius: 5px;
    line-height: 14px;
    margin-left: 5px;
}

th {
    font-size: 12px;
    font-weight: 500;
}

td{
    padding: 20px 0;
    font-size: 18px;
    font-weight: bold;

}

hr{
    border: 1px solid #eee;
}

.cr{
    color: #777;
    font-weight: 400;
}
.notes{
    font-size: 12px;
    font-weight: 400;
    color: #777;
}
.sum{
    font-size: 30px;
}

#reset-btn{
    width: 98%;
    border: none;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    background-color: #000;
    color: #eee;
    border-radius: 5px;
}